<!-- Save this as forgot-password.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reset Password - CardShield</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container-xxl py-5">
      <div class="container">
        <div class="login-card">
          <h3 class="login-title">Reset Password</h3>
          <form id="resetForm">
            <input
              type="text"
              class="form-control"
              placeholder="Mobile Number"
              required
            />
            <input
              type="text"
              class="form-control"
              placeholder="OTP"
              required
            />
            <input
              type="password"
              class="form-control"
              placeholder="New Password"
              required
            />
            <input
              type="password"
              class="form-control"
              placeholder="Confirm New Password"
              required
            />
            <button type="submit" class="btn btn-login">Update Password</button>
          </form>
          <div class="form-footer">
            <a href="login.html">Back to Login</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
